body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sg-container {
  height: 75vh;
  line-height: 1;
  display: flex;
  justify-content: space-evenly;
}

.computer-side {
  margin: 0 auto;
  width: 48%;
  border-right: 6px solid rgb(255, 255, 255);
}

.text-container:nth-of-type(1) h1 {
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: 5rem;
}

.computer-side h1 > span:nth-of-type(1) {
  color: #3b64d9;
}

.computer-side h1 > span:nth-of-type(2) {
  color: #e46892;
}

.computer-side h1 > span:nth-of-type(3) {
  color: #f0ac0f;
}

.computer-side h1 > span:nth-of-type(4) {
  color: #e44535;
}

.computer-side h1 > span:nth-of-type(5) {
  color: #6eb179;
}

.computer-side h1 > span#whitespace {
  width: 1rem;
}

.computer-side h1 > span:nth-of-type(7) {
  color: #4399dd;
}

.computer-side h1 > span:nth-of-type(8) {
  color: #f06b0b;
}

.computer-side h1 > span:nth-of-type(9) {
  color: #f0ac0f;
}

.computer-side h1 > span:nth-of-type(10) {
  color: #3b64d9;
}

.computer-side h1 > span:nth-of-type(11) {
  color: #e44535;
}

.symbols-container {
  display: flex;
  justify-content: space-around;
  max-width: 80%;
  margin: 27px auto;
}

.gameButton {
  max-width: 80%;
  transition: transform 0.3s ease-out;
}

.gameButton:hover {
  cursor: pointer;
  transform: translate(0, -40px);
}

.left-emoji,
.score-container-left {
  display: flex;
  justify-content: flex-end;
}

.text-container,
.symbols-container {
  min-height: 30vh;
}

.right-emoji,
.left-emoji,
.score-container-left,
.score-container-right {
  padding: 20px;
}

.score-container {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;
}

.modal-overlay {
  position: fixed; /* position the overlay on top of everything else */
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #081e37;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ffffff33;
}

.input-form,
.select-form {
  display: block;
  margin: auto auto;
  width: 60%;
  margin-bottom: 1em;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1em;
}
.input-form {
  color: #ffffff;
}
.input-form:focus {
  outline: none;
}

.input-form::placeholder {
  color: white;
}

.select-form {
  background-color: rgb(205, 203, 203);
  color: black;
  font-size: large;
  font-weight: 500;
  max-width: 50%;
  text-align: center;
}

option {
  font-size: large;
}

.btn {
  display: inline-block;
  background: rgb(108, 10, 10);
  border: 1px solid darken(rgb(108, 10, 10), 5%);
  padding: 0.5em 2em;
  color: white;
  margin-right: 0.5em;
  box-shadow: inset 0px 1px 0px fadeout(white, 80%);
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-style: oblique;
}

.btn:hover {
  background: rgb(201, 0, 0);
  transition: ease-in-out 0.5s;
  color: rgb(0, 0, 0);
}
.btn:active {
  background: rgb(108, 10, 10);
  box-shadow: inset 0px 1px 1px fadeout(rgb(0, 0, 0), 90%);
}
.btn:focus {
  outline: none;
}
