body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sg-container {
  height: 100vh;
  line-height: 1;
  display: flex;
  justify-content: space-evenly;
}

.computer-side:nth-of-type(1) h1 {
  display: flex;
  justify-content: center;
  font-family: 'Post';
  font-size: 5.5rem;
}

.computer-side h1 > span:nth-of-type(1) {
  color: #3b64d9;
}

.computer-side h1 > span:nth-of-type(2) {
  color: #e46892;
}

.computer-side h1 > span:nth-of-type(3) {
  color: #f0ac0f;
}

.computer-side h1 > span:nth-of-type(4) {
  color: #e44535;
}

.computer-side h1 > span:nth-of-type(5) {
  color: #6eb179;
}

.computer-side h1 > span#whitespace {
  width: 1rem;
}

.computer-side h1 > span:nth-of-type(7) {
  color: #4399dd;
}

.computer-side h1 > span:nth-of-type(8) {
  color: #f06b0b;
}

.computer-side h1 > span:nth-of-type(9) {
  color: #f0ac0f;
}

.computer-side h1 > span:nth-of-type(10) {
  color: #3b64d9;
}

.computer-side h1 > span:nth-of-type(11) {
  color: #e44535;
}

.symbols-container {
  display: flex;
  justify-content: space-around;
  max-width: 80%;
  margin: 0 auto;
}

.gameButton:hover {
  cursor: pointer;
}

.gameButton {
  max-width: 80%;
}
